<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">d2218aa6664195</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.14.252:3306/droposservidordb?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.autocommit">true</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="com/dromedicas/dto/Sucursales.hbm.xml" />
        <mapping resource="com/dromedicas/dto/Ventadiariaglobal.hbm.xml" />
        <mapping resource="com/dromedicas/dto/Existencias.hbm.xml" />
        <mapping resource="com/dromedicas/dto/Bodegas.hbm.xml" />
        <mapping resource="com/dromedicas/dto/Notificacion.hbm.xml" />
        <mapping resource="com/dromedicas/dto/Tipoincidente.hbm.xml" />
        <mapping resource="com/dromedicas/dto/Tiponotificacion.hbm.xml" />
        <mapping resource="com/dromedicas/dto/Incidente.hbm.xml" />
    </session-factory>
</hibernate-configuration>
